.main-container {
  margin-left:10rem;
    margin-right:10rem;
    display: flex;
    justify-content:center ;
    gap:2rem;  
    background-color: whitesmoke;
    width:100%;
}


.first {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.second {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.headings {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

}

.line-para {
  border-bottom: 1px solid grey;
  cursor: pointer;
  padding: 1rem;
}

.line-para:hover {
  background-color: #EAEAEA;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    gap: 0;
  }

  .first {
    display: flex;
    flex-direction: column;


  }

  .second {
    display: flex;
    flex-direction: column;
  }

}