.main-container {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: whitesmoke;
  width: 100%;
 
}



.dropdown a {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.dropdown a:hover {
  background-color: #f2f2f2;
}


.first {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.second {
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

.headings {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

}

.line-para {
  border-bottom: 1px solid #E7E9EB;
  cursor: pointer;
  padding: 0.3rem;
  font-weight: 300;
}

.line-para:hover {
  background-color: #EAEAEA;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  margin-right:0;
    gap:0;
  }

  .first {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */

  }

  .second {
    display: flex;
    flex-direction: column;
  }

}